/* .counter-app {
    text-align: center;
}

.count {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    width: 50px;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 10%;
    background-color: grey;
    color: white;
}

.btn {
    border: 2px solid rgb(87, 84, 84);
    padding: 10px;
    width: 80px;
    height: 80px;
    margin: 20px 10px;
    border-radius: 100%;
    cursor: pointer;
}

.btn:hover {
    border: none;
}

.blue {
    background-color: #3498db;
    color: white;
}

.black {
    background-color: #2c3e50;
    color: white;
}

.green {
    background-color: #2ecc71;
    color: white;
} */

.input-app {
    text-align: center;
    margin-top: 100px;
}

.title {
    font-size: 48px;
    margin-bottom: 20px;
    color: brown;
    font-style: italic;
}

input {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 12px 14px;
    font-size: 20px;
    width: 300px;
}

.btn {
    padding: 12px 14px;
    font-size: 20px;
    border: none;
    background-color: burlywood;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.btn:hover {
    background-color: chocolate;
    border: none;
    color: burlywood;
}

.username {
    font-size: 24px;
    color: darkgreen;
    margin-bottom: 20px;
}